.Compte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 177px;
  .MonCompte {
  margin-top: 205px;
    margin-left: 67px;
    margin-bottom: 98px;
    color: $bleu;
  }

  .Titre {
    width: 100%;
  }

  .Erreur {
    border-radius: 10px;
    padding: 20px;
    background-color: $rouge;
  }

  .TousCompte {
    width: 70%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .signUp {
      background-color: $bleu;
      border-radius: 10px;

      .TitreSignUp-In {
        color: $vert;
      }

      .FormSignUp {
        width: 100%;
        display: flex;
        justify-content: center;

        form {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 396px;

          .FNameLName {
            display: flex;
            justify-content: center;
            .InfoInput {
              background-color: $blanc;
              border-radius: 10px;
              display: flex;
              max-width: 396px;
              margin: 15px;

              .Aligne{
                display: flex;
                flex-direction: column;

                input {
                  margin: 18px;
                  margin-bottom: 8px;
                  width: 100%;
                  border: 0px;
                  outline: none;
                  color: $bleu;
                  background-color: transparent;
                }
  
                p{
                  color: $rouge;
                  margin-left: 10px;
                  padding-bottom: 10px;
                }
              }
            }
          }

          .AutreInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .InfoInput {
              background-color: $blanc;
              border-radius: 10px;
              display: flex;
              margin: 15px;

              img {
                max-width: 22px;
                margin-left: 20px;
                max-height: 70px;
              }

              .Aligne{
                display: flex;
                flex-direction: column;

                input {
                  margin: 18px;
                  margin-bottom: 8px;
                  padding-left: 20px;
                  border: 0px;
                  border-left-width: 1px;
                  border-left-style: solid;
                  outline: none;
                  color: $bleu;
                  background-color: transparent;
                }

                p{
                  color: $rouge;
                  margin-left: 10px;
                  padding-bottom: 10px;
                }
              }
            }
          }

          .sinscrire {
            background-color: $blanc;
            color: $bleu;
            margin: 50px 0px;
            padding: 15px 0px;
            width: 80%;
            max-width: 242px;
            border-radius: 10px;
            border: 0px;
          }

          .sinscrire:hover{
            background-color: $vert;
          }
        }
      }
    }

    .signIn {
      background-color: $vert;
      border-radius: 10px;
      height: max-content;

      .TitreSignUp-In {
        color: $bleu;
      }

      .FormSignIn {
        width: 100%;
        display: flex;
        justify-content: center;

        form {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 396px;

          .InfoInput {
            background-color: $bleu;
            border-radius: 10px;
            display: flex;
            max-width: 396px;
            margin: 15px;

            img {
              max-width: 22px;
              margin-left: 20px;
            }

            input {
              margin: 18px;
              padding-left: 20px;
              border: 0px;
              border-left-width: 1px;
              border-left-style: solid;
              color: $blanc;
              outline: none;
              background-color: transparent;
            }
          }

          .Connected {
            background-color: $bleu;
            color: $blanc;
            margin: 50px 0px;
            padding: 15px 0px;
            width: 80%;
            max-width: 242px;
            border: 0px;
            border-radius: 10px;
          }
          .Connected:hover{
            background-color: $blanc;
            color: $bleu;
          }
        }
      }
    }
  }
}

.TitreSignUp-In {
  text-align: center;
  margin: 50px 0px;
}
